*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* navbar */
header{
    background-color: #412567;
    padding: 16px;
}
.name-tag{
    color: white;
}

/* to make it linearGradient */
#tag{
     background: linear-gradient(  #f32170, #d61478,
    #8b00ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  ;
}
nav{
    width: 85% ;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
}
.ham-icon{
    display: none;
}
.btn{
    background: linear-gradient( #f32170, #d61478,
    #8b00ff);
    width: 135px;
    height: 44px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.btn:hover{
   box-shadow:0 4px 10px rgba(167, 157, 138, 0.7);
}

/* banner */
#banner{
    background-image: url("..//assets/hero-bg.png");
     background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; /* stack on small screens */
    align-items: center;
    /* justify-content: center; */
    padding: 80px;
    height: 760px;
}

.banner-image {
    position: relative;
    width: 80%;       /* responsive width */
    max-width: 350px;
    
}

/* bottom image */
.img1 {
  width: 100%;
    height: auto;
    display: block;
    /* z-index: 1; */
}

/* top image */
.img2 {
    position: absolute;
    margin-left: 119px;
    z-index: 5; /* above the bottom image */
    transform: translateY(-250px);
}
.btn1 {
   
    position: absolute;  /* make it float over banner */
    width: 75px;
    height: 38px;
    border-radius: 18px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff88;
     /* used gap to get the position correct */
    /* position relative to bottom image */
    top: 100px;          
    /* slightly above .img1 */
     left: 290px;        
    /* right side of .img1 (left + width + gap) */
    z-index: 10;        /* above both images */
}

.banner-content{
    max-width: 600px;
    text-align: center;
    padding: 50px;
}

.banner-title{
    font-size: 70px;
    font-weight: 700;
    color: #ffffff;
}
.paragraph{
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 30px;
}
.bu {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 8px;
}


.btn2{
    background: linear-gradient( #f32170, #d61478,
    #8b00ff);
    width: 190px;
    height: 44px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.btn3{
      width: 190px;
     height: 44px;
      font-size: 16px;
    font-weight: 600;
      border-radius: 20px;
      color: #00ff88;
      background-color: transparent;
      border: 1px solid #00ff88;
      display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}



/* about */
#about{
    background-color: #1A0B2E;
    color: #ffffff;
    padding: 50px;
}
.about-container{
    max-width: 1360px;
    margin: 0 auto;
}
.about-container h2{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.about-container p{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 44px;
}
 hr {
    border: none;
    height: 1px;
    background-color: #ffffff;
    width: 1;   
    margin: 60px auto;
}
/* .about-box{
    display: flex;
    gap: 140px;
    max-width: 830px;
    margin: 0 auto;
} */
.about-box{
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
    gap: 40px;         
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;    
}

  


.about-card{
    padding: 30px;
    /* width: 322px; */
    box-sizing: border-box;
}

.about-card h4{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    color: #00ff88;
    margin-bottom: 20px;
    /* width: 274px; */
    
}
.about-card p{
    /* width: 274px; */
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

/* footer */
footer{
     background-image: url("..//assets/footer-bg.png");
     background-size: cover;
    background-position: center;
        height: 350px;

}
.name{
    font-size: 60px;
    font-weight: 700;
}
#tg{
    color: #ffffff;
}
footer .footer-content{
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
   
}
.icons{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.icons a{
    padding-top: 20px;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: white;
}

.copyright p{
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #FAFAFA;
}
/* to make responsive */
@media screen and (max-width:576px) {
    nav {
        width: 95%;
    }

    .menu a {
        display: none;
    }

    .ham-icon {
        display: block;
        color: white;
        font-size: 26px;
    }
    .btn{
        display: none;
    }
    .banner-title{
        font-size: 35px;
    }
    .btn2{
        margin-bottom: 5px;
    } 
    .banner-image{
        width: 100%;
    }
   .about-box{
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .about-card{
        width: 100%;
        max-width: 100%;
    }
}
@media screen and (min-width:577px) and (max-width:972px) {
     nav {
        width: 95%;
    }

    .menu {
         display: flex;
    }

    .ham-icon {
       display: none;
    }
    .btn{
          display: inline-flex;
    align-items: center;
    justify-content: center;
    }
    .about-box{
        display: flex;
        align-items: center;
        justify-items: center;
    }

    .about-card{
        padding: 5px;
        
    }
}